header {
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
}

.logo {
	height: 60px;
	width: 142px;
	margin-left: 20px;
	float: left;
	background-image: url("../images/logo.png");
	background-position: 0 100%;
	background-repeat: no-repeat;
}
